.recipe {
  margin-bottom: 30px;

  a:hover {
    color: $grey;
    text-decoration: none;
  }

  &__image-wrapper {
    img {
      border-radius: 0;
      height: 300px;
      object-fit: cover;
    }

    &:hover {
      .lazy-wrapper {
        transform: scale(1.01);
        transition: 0.15s ease-out;
      }
    }
  }

  &__title-wrapper {
    a {
      color: black;
      font-family: Merriweather, serif;
      font-size: 24px;
      font-weight: 500;
    }
    
    h5, p {
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      display: -webkit-box;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  &__description {
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    color: $grey-two;
    display: -webkit-box;
    font-size: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__details {
    list-style: none;

    li {
      display: inline;
      font-family: 'Catamaran', sans-serif;
      font-size: 13px;
      margin-right: 20px;
      text-transform: uppercase;

      i {
        margin-right: 5px;
      }
    }
  }

  &__author {
    color: black;
    margin-bottom: 20px;

    &__avatar {
      border-radius: 50% !important;
      height: 45px !important;
      object-fit: cover !important;
      width: 45px !important;
    }

    &__text {
      display: inline-block;
      margin-left: 20px;
      position: absolute;
    }

    &__username {
      color: $black-two;
      font-size: 12px;
      font-weight: 600;
      letter-spacing: .1em;
      line-height: 20px;
      margin-bottom: 5px;
      margin-top: 5px;
      text-transform: uppercase;
    }

    &__date {
      color: $grey-three;
      font-size: 13px;
      line-height: 1em;
      margin: 0;
    }
  }

  &__buttons {
    position: absolute;
    right: 0;

    .button:first-child {
      margin-right: 10px;
    }
  }

  .badge-video {
    border-radius: 0;
    letter-spacing: 1px;
    padding: 10px 20px;
    position: absolute;
    text-transform: uppercase;
    z-index: 999;
  }
}

.dropdown-menu.dropdown-share {
  border-color: $light-grey-two;
  margin-top: 5px;
  min-width: 45px;
  padding: 10px 0;
  width: 45px;

  .dropdown-item {
    border-radius: 50%;
    color: white;
    height: 25px;
    margin: auto;
    padding: 0;
    text-align: center;
    width: 25px;

    i {
      font-size: 14px;
      margin-top: 5px;
    }

    &__facebook {
      background-color: $facebook;
    }

    &__instagram {
      background-color: $instagram;
    }

    &__twitter {
      background-color: $twitter;
    }
  }

  .dropdown-item:not(:last-child) {
    margin-bottom: 10px;
  }
}

@media (max-width: 922px) {
  .recipe {
    &__text {
      padding-left: 0 !important;
    }
  }
}
