.form-custom {
  .form-control {
    border-radius: 0;
    font-size: 15px;
    height: 50px;
    letter-spacing: 0.5px;
    padding: 0 20px;

    &:active, &:focus {
      box-shadow: none;
      outline: none;
      border-color: black;
    }
  }
}